
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("imagini/IMG_20230326_192822.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  
  
}


/* Card */
.titlu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1px;
  color: rgb(23, 23, 24);
  padding-bottom: 1rem;

}


.card {
  background-color: rgba(181, 236, 236, 0.9);
  padding: 2rem;
  border-radius: 20px;
  width: 100%;
  max-width: 500px;
  margin: 1em;
  color: rgb(0, 0, 0);
  text-align: center;
}

input {
  margin-right: 3px;
  border-radius: 5px ;
  border: none;
  background-color: rgba(195, 222, 223, 0.9);
}


.Search-button {
  margin: auto;
  display: flex;
  width: fit-content;
}

.icon {
  width: 3rem;
}

#icon {
  width: 8rem;
  margin-bottom: 1rem;
}

.ora {
  font-size: 60%;
}

.starea-vremii {
  display: none;
  
}


/* loader */

#loader {
  border: 16px solid #f3f3f3; 
  border-top: 16px solid rgb(255, 208, 0); 
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
  display: none;
  margin: auto;
  align-items: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Eroare */

.eroare {
  margin: auto;
  color: red;
  display: none;
  margin-bottom: none;
  
}

